black==25.1.0
click==8.1.8
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
shandy-sqlfmt==0.26.0
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.12.2